#container{
    clear:left;
    float:right;
    width:10%;
    overflow:hidden;
    background:#ffa7a7; /* column 2 background colour */
}

#col1 {
    float:left;
    width:46%;
    position:relative;
    left:52%;
    overflow:hidden;
}
#col2 {
    float:left;
    width:46%;
    position:relative;
    left:56%;
    overflow:hidden;
}