body {
  padding : 2em;
  margin  : 0;
}

form{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;     
	font-weight: normal;
	width  : 300px;
	height : 200px;
	margin : 0 auto;
	background : #E1EEC1;
}

#form_div h1 {
	font-size: 15px;
	text-align: center;
	background : #c0db79;
	color: #304230;
}

select {
	width:200px;
}

#divFields{
	text-align: center;
	color: #759227;
}

#divBlockFields{
	text-align: left;
	color: #669;
	width  : 700px;
}

#divButton{
	text-align: right;
}