#table_div body {
	font-family: Arial, Helvetica, sans-serif;
}

#table_div table {     
	table-layout: fixed;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
	margin: 45px;     
	width: 850px; 
	text-align: left;    
	border-collapse: collapse; 
}

#table_div th {     
	font-size: 13px;     
	font-weight: normal;     
	padding: 8px;     
	background: #c0db79;
    border-top: 4px solid #a7cd43;    
	border-bottom: 1px solid #fff; 
	color: #304230; 
}

#table_div td {    
	padding: 8px;     
	background: #E1EEC1;     
	border-bottom: 1px solid #fff;
    color: #759227;    
	border-top: 1px solid transparent; 
}

#table_div tr:hover td { 
	background: #c0db79; 
	color: #304230; 
}

#block_div table {     
	table-layout: fixed;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
	margin: 45px;
	height: 306px;
	width: 850px; 
	text-align: left;    
	border-collapse: collapse; 
}

#block_div body {
	font-family: Arial, Helvetica, sans-serif;
}

#block_div th {     
	font-size: 13px;     
	font-weight: normal;     
	padding: 8px;     
	background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
	border-bottom: 1px solid #fff; 
	color: #039;
}

#block_div td {    
	padding: 8px;     
	background: #e8edff;     
	border-bottom: 1px solid #fff;
    color: #669;    
	border-top: 1px solid transparent;
}

#mainTable table {     
	table-layout:fixed;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
	margin: 1px;     
	width: 700px; 
	text-align: left;    
	border-collapse: collapse; 
}