body {
  padding : 2em;
  margin  : 0;
}

h1 {
	font-size: 15px;
	text-align: center;
	background : #b9c9fe;
	color: #039;
}

select {
	width:200px;
}

#divBlockFieldsInit{
	text-align: left;
	color: #669;
	width  : 200px;
}

#formInit_div{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;     
	font-weight: normal;
	width  : 400px;
	height : 80px;
	margin : 0 auto;
	background : #e8edff;
}